<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.globespeak" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:label="GlobeSpeak"
        android:supportsRtl="true">
        <service
            android:name=".service.TranslationService"
            android:exported="true"
            android:foregroundServiceType="dataSync">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.CHANNEL_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest>
